# {{ ansible_managed }}
:msg, contains, "IPSET_DDOS:" /var/log/ipset/ddos.log
:msg, contains, "IPSET_PORTSCAN:" /var/log/ipset/portscan.log
:msg, contains, "IPSET_WHITELIST:" /var/log/ipset/whitelist.log
& stop
